name: backend ci

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:             #give permission to sign sbom
      contents: read
      packages: write
      id-token: write
        
    steps:
        - name: checkout code 
          uses: actions/checkout@v4
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: "24" 
        - name: Install HTMLHint
          run: npm install -g htmlhint

        - name: run lint
          working-directory: ./frontend
          run: make lint

        - name: build-image
          run: docker build -t guestbook-web:${{ github.sha }} ./frontend

        - name: Run Trivy vulnerability scanner
          uses: aquasecurity/trivy-action@0.33.1
          with:
            image-ref: guestbook-web:${{ github.sha }}
            format: 'table'
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH' 

        - name: generate sbom
          uses: aquasecurity/trivy-action@0.33.1
          with:
            image-ref: guestbook-web:${{ github.sha }}
            format: 'cyclonedx'
            output: 'sbom.json'

        - name: export sbom to github
          uses: actions/upload-artifact@v4
          with:
            name: frontend-sbom
            path: 'sbom.json'
            retention-days: 7

        - name: login to ghcr
          uses: docker/login-action@v3
          with:
            registry:
                ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        
        - name: push image
          run: |
            docker tag guestbook-web:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/guestbook-web:${{ github.sha }}
            docker push ghcr.io/${{ github.repository_owner }}/guestbook-web:${{ github.sha }}

        - name: Install Cosign
          uses: sigstore/cosign-installer@v4.0.0

        - name: Check install!
          run: cosign version

        - name: set sbom to image
          run: |
            cosign attest --yes \
            --predicate sbom.json \
            --type cyclonedx \
            ghcr.io/${{ github.repository_owner }}/guestbook-web:${{ github.sha }}